.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px 48px;
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 1400px;
  margin: 0 auto;
  border-radius: 0 0 32px 32px;
}

.header .logo a {
  color: #fff;
}

.header .menu {
  display: flex;
  gap: 24px;
}

.header .menu a {
  position: relative;
  padding: 12px;
  color: #fff;
  transition: .3s;
}

.header .menu a::before {
  position: absolute;
  bottom: 8px;
  left: 0;
  content: '';
  height: 2px;
  width: 0;
  background-color: #DF7B09;
  transition: .3s;
}

.header .menu a:hover {
  color: #DF7B09;
}

.header .menu a:hover::before {
  width: 100%;
}

.header .register-btn {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  background-color: #DF7B09;
  padding: 12px 24px;
  transition: .3s;
}

.header .register-btn:hover {
  background-color: #a55f0e;
}