.intro-container {
  display: grid;
  place-content: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 180px 24px;
}

.main-title {
  font-size: 4rem;
  margin-bottom: 32px;
  color: #fff;
}

.main-paragrapy {
  font-size: 1.2rem;
  max-width: 32ch;
  margin-bottom: 16px;
  color: #fff;
}

.intro-btn {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  background-color: #DF7B09;
  padding: 12px 64px;
  font-size: 1.4rem;
  transition: .3s;
  justify-self: start;
}

.intro-btn:hover {
  background-color: #a55f0e;
}

@media (width <= 1000px) {
  .main-title {
    font-size: 3rem;
  }
}

@media (width <= 600px) {
  .intro-container {
    padding: 120px 24px;
  }

  .main-title {
    font-size: 2rem;
  }

  .main-paragrapy {
    font-size: 1rem;
  }

  .intro-btn {
    font-size: 1rem;
  }
}